{% for stock in all_stocks %}
<div class="row" style="margin-bottom:20px;">
    <div class="col-4">
        <div class="stock-chart"
             data-stock_id="{{stock.id}}"
             data-title="{{stock.name}}">
        </div>
    </div>
    <div class="col-8">
        <div class="row">
            <form class="row g-3 buy_sell">
                <input type="number" hidden name="stock_id" value="{{stock.id}}">
                <input type="number" hidden name="account_id" value="{{selected_account.id}}">
                <div class="col-auto">
                    <input type="number" class="form-control" name="size" value="1">
                </div>
                <div class="col-auto">
                    <button type="button" class="buy_sell btn btn-success mb-3" data-action="buy">Купить</button>
                </div>
                <div class="col-auto">
                    <button type="button" class="buy_sell btn btn-danger mb-3" data-action="sell">Продать</button>
                </div>
            </form>
        </div>
        <div class="row errors"></div>
    </div>
</div>
{% endfor %}