{% extends 'base.html' %}

{% block content %}

<div class="page-flex">

    {% include 'user_menu.html' %}

    <div class="main-wrapper">

    {% include 'user_toolbar.html' %}

        <main class="main">
            <div class="container">
                {% if not c.accounts and not c.selected_account %}
                <div class="alert alert-primary" role="alert">
                    У Вас нет ни одного счета. <a class="create-account">Создайте</a> счет, чтобы стать богатым
                </div>
                {% elif c.selected_account %}
                    <div class="container">
                        {{ c.selected_account.code }}
                    </div>
                {% else %}
                    <div>
                        {% for stock in c.all_stocks %}
                            <div class="stock-chart"
                                 data-stock_id="{{stock.id}}"
                                 data-title="{{stock.name}}">
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </main>
    </div>
</div>
{% endblock %}
