{% extends 'base.html' %}

{% block content %}

<main class="page-center">
    <h1 class="sign-up__title">Введите логин и пароль</h1>
    <article class="sign-up">

        <form id="login-form" class="sign-up-form form" method="POST" action="">
            {{ form.hidden_tag() }}

            <div class="field-input">
                {{ form.username(class_="form-control form-input") }}
                {% with errors=form.username.errors %}
                {% include 'include/form_errors.html' %}
                {% endwith %}
            </div>

            <div class="field-input">
                {{ form.password(class_="form-control form-input") }}
                {% with errors=form.username.errors %}
                {% include 'include/form_errors.html' %}
                {% endwith %}
            </div>

            {% if not success %}
                <div>
                    <span class="text-danger">Имя пользователя и пароль не подходят</span>
                </div>
            {% endif %}

            {{ form.submit(class_="form-btn primary-default-btn transparent-btn") }}
        </form>

        <div style="margin-top:15px;">
            <a href="{{url_for('register')}}" >У вас нет аккаунта? Создайте его!</a>
        </div>

    </article>
</main>
{% endblock %}
