<nav class="main-nav--bg">
  <div class="container main-nav">
    <div class="main-nav-start">
    </div>


    <div class="main-nav-end">
      {% if not selected_account %}
      <div>
        <a class="btn btn-primary create-account">Создать счет</a>
      </div>
      {% endif %}


      {% if selected_account %}
        <div>
          <span>Ваш баланс: <span class="user-balance">{{selected_account.balance}}</span> ₽</span>
        </div>
        <div>
          <a class="btn btn-danger delete-account" data-account_id="{{selected_account.id}}">Закрыть счет</a>
        </div>
      {% endif %}
    </div>
  </div>
</nav>
